<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nuc.repair" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Repair</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-alipay-v2" spec="^1.0.0">
        <variable name="APP_ID" value="[2017022705932488]" />
    </plugin>
    <plugin name="jpush-phonegap-plugin" spec="^3.6.3">
        <variable name="APP_KEY" value="d06d24d510206d176f543fa6" />
        <variable name="CHANNEL" value="developer-default" />
    </plugin>
    <plugin name="cordova-plugin-adam-wechat" spec="^3.0.6">
        <variable name="WECHATAPPID" value="wxc7dc6a9e62826cf4" />
    </plugin>
    <engine name="android" spec="^7.1.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
